.d-flex.justify-content-end.mb-3
%table.table.table-striped.table-hover
  %thead.table-light
    %tr
      %th 順位
      %th 担当者
      %th タスク完了数
  %tbody
    - completed_task = 0
    - current_rank = 0
    - actual_rank = 1

    - ranks.each do |(user, task_count)|
      - if task_count != completed_task
        - current_rank = actual_rank
      - completed_task = task_count
      - actual_rank += 1

      %tr
        %td #{current_rank}位
        %td= user.name
        %td= task_count
