.d-flex.justify-content-end.mb-3
%table.table.table-striped.table-hover
  %thead.table-light
    %tr
      %th 順位
      %th 担当者
      %th タスク完了数
  %tbody
    - completed_task = 0
    - first_place = 1

    - ranks.each.with_index(1) do |(user, task_count), rank|
      - if rank == first_place
        - completed_task = task_count
      %tr
        - if task_count != completed_task
          %td #{rank}位
        - else
          %td #{first_place}位
        %td= user.name
        %td= task_count
